{% extends "generic/base.html" %}

{% block title %}About &middot; JacketSwap{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <h5>About JacketSwap</h5>
        <p>
            You have been at a night club for a great night out with your friends. When you decide to go home and fetch
            your jacket, you come to the realisation that it is gone. Someone must have grabbed it, either by mistake or
            because their jacket was also stolen. JacketSwap is created to return these jackets to their rightful
            owners.
        </p>
        <p>
            JacketSwap is only created as a mediating service towards victims of jacket theft. JacketSwap cannot be held
            accountable for the actions performed by the users on the site. None of the items on the website are
            possession of the JacketSwap organisation.
        </p>
    </div>
{% endblock %}