{% extends 'generic/base.html' %}
{% load staticfiles %}

{% block title %}Home &middot; JacketSwap{% endblock %}

{% block navigation %}
    <div class="splash" style="background-image: url({% static 'generic/img/splash.jpg' %})">

        <nav class="splash-navigation">
            <ul>
                <a href="#"><li>About</li></a>
                {% if user.is_authenticated %}
                    <a href="{% url 'user:logout' %}"><li>Logout</li></a>
                {% else %}
                    <a href="{% url 'user:login' %}"><li>Login</li></a>
                {% endif %}
                <a href="#"><li class="button">Add jacket</li></a>
            </ul>
        </nav>
        <div class="logo">
            <img src="{% static 'generic/img/js-logo-white.png' %}" alt="JacketSwap logo" />
            <h1>JacketSwap</h1>
            <input class="js-input-splash" type="text" name="search" placeholder="Search (ex. black jacket in Fuik)">
        </div>
    </div>
{% endblock %}