{% extends "generic/base.html" %}

{% block title %}
    {% if source == 'search' %}
        Search
    {% elif source == 'your-jackets' %}
        Jackets
    {% endif %} &middot; JacketSwap
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <h5>
            {% if source == 'search' %}
                Search results
            {% elif source == 'your-jackets' %}
                Your jackets
            {% endif %}
        </h5>
        {% for jacket in jackets %}
            <a href="{% url 'jacket:details' jacket.pk %}">
                <div class="jacket-item {% if jacket.returned %}returned{% endif %}">
                    <div class="image" style="background-image: url({{ jacket.image.url }})"></div>
                    <div class="info">
                        <div class="title">{{ jacket.title }}</div>
                        <div class="location">{{ jacket.location }}</div>
                    </div>
                    <div class="lof">
                        {% if jacket.returned %}
                            Returned!
                        {% else %}
                            {{ jacket.lost_found }}
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}